<div class="confirm-request">

  <div id="map"></div>

  <md-card class="example-card">
  <!--<md-card-header>-->
    <!--<div md-card-avatar class="checkout"></div>-->
    <!--<md-card-title style="margin-top: 10px; color: #999;">Checkout Supplies</md-card-title>-->
    <!--<md-card-subtitle>Input the information of the supply you want to share</md-card-subtitle>-->
  <!--</md-card-header>-->
  <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
  <md-card-content>
    <!--<br />-->
    <button md-raised-button color="primary" class="confirmbutton">Confirm request</button>
    <p>
      We'll contact the following users on your behalf, notifying your interest in their items:
    </p>

    <md-list>
      <h4 md-line>Arthur Sampaio</h4>
      <p md-line>Bla, Bla, Bla...</p>
    </md-list>

    <md-list>
      <h4 md-line>Arthur Sampaio</h4>
      <p md-line>Bla, Bla, Bla...</p>
    </md-list>

  </md-card-content>

</md-card>

</div>


