<!--<md-input-container class="search-bar">-->
  <!--<input mdInput placeholder="Search"-->
         <!--[(ngModel)]="searchMessagesService.searchTerm"-->
         <!--(ngModelChange)="searchMessagesService.updateSearch()">-->
<!--</md-input-container>-->

<button md-raised-button class="load-more-button"
        *ngIf="searchMessagesService.showMoreMessages"
        (click)="searchMessagesService.loadMoreMessagesButtonClicked()">More</button>

<div class="message-list" #messageList>
  <md-card class="message" *ngFor="let message of searchMessagesService.displayedMessages">
    <img class="avatar" src="{{ userService.getAvatarUrl(message.sender.username) }}" />
    <div class="message-body">
      <div class="user-header">
        <div class="username">{{ message.sender.username }}</div>

      </div>
      <div class="status-information"
           *ngIf="message.userStatusInformation !== null && message.userStatusInformation.length !== 0">
        {{ message.userStatusInformation }}
      </div>
      <div class="message-date">{{ chatService.formatDate(message.date) }}</div>
      <div class="message-content">{{ message.content }}</div>
    </div>
  </md-card>
</div>

<div class="message-controls">
  <md-input-container class="message-input">
    <textarea mdInput rows="1"
              mdTextareaAutosize mdAutosizeMaxRows="3"
              [(ngModel)]="messageContent">
    </textarea>
  </md-input-container>

  <button md-mini-fab class="message-send-button" (click)="sendnote()">
    <md-icon>send</md-icon>
  </button>
</div>
