:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: calc(100vh - 60px);
}

.message-list {
  /*height: calc(100vh - 60px - 110px);*/
  overflow: scroll;
}

.message {
  display: flex;

  margin: 10px 5px;
  padding: 10px;
}

.message-content {
  margin-left: 20px;
}

.avatar {
  width: 36px;
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.user-header {
  display: flex;
  height: 24px;
}

.username {
  font-weight: bold;
}

.status-icon {
  margin-left: 5px;
  font-size: 1.2em;
}

.status-ok {
  color: #51b53f;
}

.status-help {
  color: #b5a33f;
}

.status-emergency {
  color: #b53f51;
}

.online-icon {
  margin-left: 5px;
  font-size: 1.2em;
  color: #51b53f;
}

.status-information {
  font-size: 0.8em;
  font-style: italic;
  color: #666;
}

.message-date {
  font-size: 0.8em;
  font-style: italic;
  color: #666;
}

.message-controls {
  display: flex;
  align-items: flex-end;
  height: 110px;
}

.message-input {
  flex-grow: 1;
  margin-right: 3%;
}

.message-input textarea {
  resize: none;
}

.message-send-button {
  margin-bottom: 20px;
  background-color: #3f51b5;
}
