<div class="message-list" #messageList>
  <md-card class="message" *ngFor="let message of messages">
    <img class="avatar" src="{{ userService.getAvatarUrl(message.sender.username) }}" />
    <div class="message-body">
      <div class="user-header">
        <div class="username">{{ message.sender.username }}</div>
        <div [ngSwitch]="message.userStatus">
          <template [ngSwitchCase]="1">
            <md-icon class="status-icon status-ok">check_circle</md-icon>
          </template>
          <template [ngSwitchCase]="2">
            <md-icon class="status-icon status-help">error</md-icon>
          </template>
          <template [ngSwitchCase]="3">
            <md-icon class="status-icon status-emergency">add_circle</md-icon>
          </template>
        </div>
        <md-icon class="online-icon"
                 *ngIf="message.sender.online">language</md-icon>
      </div>
      <div class="status-information"
           *ngIf="message.userStatusInformation != null && message.userStatusInformation.length != 0">
        {{ message.userStatusInformation }}
      </div>
      <div class="message-date">{{ chatService.formatDate(message.date) }}</div>
      <div class="message-content">{{ message.content }}</div>
    </div>
  </md-card>
</div>

<div class="message-controls">
  <md-input-container class="message-input">
    <textarea mdInput rows="1"
              mdTextareaAutosize mdAutosizeMaxRows="3"
              [(ngModel)]="messageContent">
    </textarea>
  </md-input-container>

  <button md-mini-fab class="message-send-button" (click)="sendMessage()">
    <md-icon>send</md-icon>
  </button>
</div>
