<div class="message-list">
  <md-card class="message" *ngFor="let message of messages">
    <div>
      <img class="avatar" src="{{ userService.getAvatarUrl(message.sender.username) }}" />
    </div>
    <div>
      <div>{{ message.sender.username }}</div>
      <div>{{ chatService.formatDate(message.date) }}</div>
      <div>{{ message.content }}</div>
    </div>
  </md-card>
</div>

<div class="message-controls">
  <md-input-container class="message-input">
    <textarea mdInput rows="1"
              mdTextareaAutosize mdAutosizeMaxRows="3"
              [(ngModel)]="message">
    </textarea>
  </md-input-container>

  <button md-mini-fab class="message-send-button" (click)="sendMessage()">
    <md-icon>send</md-icon>
  </button>
</div>
