:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: calc(100vh - 60px);
}

.message-list {
  /*height: calc(100vh - 60px - 110px);*/
  overflow: scroll;
}

.message {
  margin: 10px 5px;
}

.message-controls {
  display: flex;
  align-items: flex-end;
  height: 110px;
}

.message-input {
  flex-grow: 1;
  margin-right: 3%;
}

.message-input textarea {
  resize: none;
}

.message-send-button {
  margin-bottom: 20px;
  background-color: #3f51b5;
}

.avatar {
  border-radius: 50%;
}

