<div class="message-list">
  <md-card class="message" *ngFor="let message of messages">
    <md-card-header>
      <div>
        <img class="avatar" src="assets/img/avatar/{{getAvatarUrl(message.sender.username)}}" />
      </div>
      <div>
        <md-card-title>{{message.sender.username}}</md-card-title>
        <md-card-subtitle>{{message.sent_at}}</md-card-subtitle>
      </div>
    </md-card-header>
    <md-card-content>
      <p>
        {{message.message}}
      </p>
    </md-card-content>
  </md-card>
</div>

<div class="message-controls">
  <md-input-container class="message-input">
    <textarea mdInput rows="1"
              mdTextareaAutosize mdAutosizeMaxRows="3"
              [(ngModel)]="message">
      Type your private message here...
    </textarea>
  </md-input-container>

  <button md-mini-fab class="message-send-button" (click)="sendMessage()">
    <md-icon>send</md-icon>
  </button>
</div>
