:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  padding-top: 20px;
}

.top-messages {
  width: 100%;
  height: 70vh;
  overflow: scroll;
}

.footer-messages {
  width: 100%;
}

.textarea_full {
  width: 100%;
  float: left;
}

login-button {
  width: 100%;
}

.footer-messages {

}
