:host {
  display: flex;
  flex-direction: column;
  width: 95vw;
  padding: 0 1vh;
  height: calc(100vh - 60px);
  overflow: scroll;
}

:host>* {
  min-height: min-content;
}

.example-radio-group {
  margin-top: 0px;
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.update-settings-button {
  margin-top: 15px;
  height: 40px;
}

.email-address {
  margin-top: 10px;
}
