<md-sidenav-container id="sidenav-container">

  <md-sidenav id="sidenav" #sidenav>
    <div id="sidenav-header">

    </div>
    <div class="sidenav-item"
         routerLink="/home" routerLinkActive="active"
         (click)="sidenav.close()">
      <md-icon class="sidenav-item-icon">home</md-icon>
      <span>Home</span>
    </div>
    <div class="sidenav-item"
         routerLink="/chat/public" routerLinkActive="active"
         (click)="sidenav.close()">
      <md-icon class="sidenav-item-icon">forum</md-icon>
      <span>Public Chat</span>
    </div>
    <div class="sidenav-item"
         routerLink="/directory" routerLinkActive="active"
         (click)="sidenav.close()">
      <md-icon class="sidenav-item-icon">contacts</md-icon>
      <span>User Directory</span>
    </div>
    <div class="sidenav-item"
         routerLink="/share_status" routerLinkActive="active"
         (click)="sidenav.close()">
      <md-icon class="sidenav-item-icon">create</md-icon>
      <span>Share Status</span>
    </div>
    <div class="sidenav-item"
         routerLink="/announcements" routerLinkActive="active"
         (click)="sidenav.close()">
      <md-icon class="sidenav-item-icon">sms_failed</md-icon>
      <span>Announcements</span>
    </div>
    <div class="sidenav-item"
         routerLink="/my-shared-supplies" routerLinkActive="active"
         (click)="sidenav.close()">
      <md-icon class="sidenav-item-icon">screen_share</md-icon>
      <span>My Shared Supplies</span>
    </div>

    <div class="sidenav-item"
         routerLink="/request-supplies" routerLinkActive="active"
         (click)="sidenav.close()">
      <md-icon class="sidenav-item-icon">shopping_basket</md-icon>
      <span>Request Supplies</span>
    </div>
         routerLink="/location" routerLinkActive="active"
         (click)="sidenav.close()">
      <md-icon class="sidenav-item-icon">location_on</md-icon>
      <span>Location</span>
    </div>
    <div class="sidenav-item"
         routerLink="/map" routerLinkActive="active"
         (click)="sidenav.close()">
      <md-icon class="sidenav-item-icon">map</md-icon>
      <span>Map</span>
    </div>
    <div class="sidenav-item"
         (click)="logoutButtonClicked(sidenav)">
      <md-icon class="sidenav-item-icon">reply</md-icon>
      <span>Log Out</span>
    </div>
  </md-sidenav>

  <div id="sidenav-content">

    <div id="app-header">
      <button id="header-left-button"
              [class.invisible]="!userService.isUserLoggedIn()"
              (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>
      <span id="app-title">Emergency Social Network</span>
      <button id="header-right-button" disabled></button>
    </div>

    <router-outlet></router-outlet>

  </div>

</md-sidenav-container>
