<md-sidenav-container id="sidenav-container">

  <md-sidenav #sidenav id="sidenav">
    Jolly good!
  </md-sidenav>

  <div id="sidenav-content">

    <div id="app-header">
      <span id="app-title">Emergency Social Network</span>
    </div>

    <router-outlet></router-outlet>

    <!--<button md-button (click)="sidenav.open()">-->
      <!--Open sidenav-->
    <!--</button>-->

    <div id="app-footer">
      <span id="app-copyright">Facepalm Special Entertainments ©2017</span>
    </div>

  </div>

</md-sidenav-container>
