<button md-raised-button id="individual-button" class="selection-button" routerLink="/directory">Send Email Individually</button>
<button md-raised-button id="individual-button" class="selection-button" routerLink="/announcements">Post an announcement</button>

<button md-raised-button id="individual-button" class="selection-button" routerLink="/email/status/{{statusChosen}}">Send Email to User in Status:</button>
<md-radio-group class="example-radio-group" [(ngModel)]="statusChosen">
  <md-radio-button class="example-radio-button" *ngFor="let status of statuses" [value]="status.id">
    {{status.name}}
  </md-radio-button>
</md-radio-group>
