:host {
  display: flex;
  flex-direction: column;
  width: 95vw;
  padding: 0 1vh;
  height: calc(100vh - 60px);
  overflow: scroll;
}

:host>* {
  min-height: min-content;
}

.search-bar {
  margin-top: 10px;
}

#load-more-announcements-button {
  align-self: center;
  margin-top: 10px;
}

.announcement {
  margin-top: 10px;
  padding: 10px 15px;
}

.announcement-publisher {
  margin-top: 5px;
  font-size: 0.8em;
  font-style: italic;
  color: #666;
}
