<md-input-container class="search-bar">
  <input mdInput placeholder="Search"
         [(ngModel)]="searchAnnouncementsService.searchTerm"
         (ngModelChange)="searchAnnouncementsService.updateSearch()">
</md-input-container>

<md-card class="announcement" *ngFor="let announcement of searchAnnouncementsService.displayedEmergencySupplies">
  <div class="announcement-content">{{announcement.content}}</div>
  <div class="announcement-publisher">Posted by {{announcement.publisher.username}} at {{announcementsService.formatDate(announcement.date)}}</div>
</md-card>

<button md-raised-button class="load-more-button"
        *ngIf="searchAnnouncementsService.showMoreEmergencySupplies"
        (click)="searchAnnouncementsService.loadMoreAnnouncementsButtonClicked()">More</button>

<md-input-container class="announcement-input">
    <textarea mdInput rows="1"
              mdTextareaAutosize mdAutosizeMaxRows="3"
              [(ngModel)]="announcementContent">
    </textarea>
</md-input-container>

<button md-raised-button id="publish-announcement-button"
        (click)="publishAnnouncementButtonClicked()">Publish Announcement</button>
