<script src="../../services/search-emergency-supplies/search-emergency-supply.service.ts"></script>
<div class="create-supply">
  <md-input-container class="search-bar">
    <input mdInput placeholder="Search" [(ngModel)]="searchEmergencySupplyService.searchTerm"
           (ngModelChange)="searchEmergencySupplyService.updateSearch()">
  </md-input-container>
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="suppliesheader"></div>
      <md-card-title style="margin-top: 10px; color: #999;">Supplies Available</md-card-title>
      <!--<md-card-subtitle>Input the information of the supply you want to share</md-card-subtitle>-->
    </md-card-header>

    <md-card-content>
      <p></p>
      <div>
        <!-- Table starts here -->
        <table id="table" class="table table-striped table-mc-indigo">
          <tbody>
          <tr *ngFor="let s of searchEmergencySupplyService.displayedEmergencySupplies;let i = index;"><td> {{s.supplyname}} </td><td><md-checkbox [(ngModel)]="selectedMap[s.supplyId]" (change)="toggleSelection(s)"></md-checkbox></td></tr>

          <!--<tr><td> Gas </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Chicken Marmelade</td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Bandaid </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Gas </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Chicken Marmelade</td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Bandaid </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Gas </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Chicken Marmelade</td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Bandaid </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Gas </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Chicken Marmelade</td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Bandaid </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Gas </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Chicken Marmelade</td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Bandaid </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Gas </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Chicken Marmelade</td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Bandaid </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Gas </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Chicken Marmelade</td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Bandaid </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Gas </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Chicken Marmelade</td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Bandaid </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Gas </td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Chicken Marmelade</td><td><md-checkbox></md-checkbox></td></tr>-->
          <!--<tr><td> Bandaid </td><td><md-checkbox></md-checkbox></td></tr>-->
          </tbody>
        </table>

        <!--<md-list>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Gas </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Chicken  </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
          <!--<md-list-item> <md-checkbox></md-checkbox> Bandaid </md-list-item>-->
        <!--</md-list>-->

      </div>
    </md-card-content>

  </md-card>
</div>

<!--<div class="message-controls">-->
<button md-raised-button color="primary" class="fixed-bottom" (click)="doCheckout()">I need these items!</button>
<!--</div>-->

  <!--<div class="supply-list" #messageList>-->
  <!--<md-card class="message" *ngFor="let message of searchMessagesService.displayedMessages">-->
  <!--<img class="avatar" src="{{ userService.getAvatarUrl(message.sender.username) }}" />-->
  <!--<div class="message-body">-->
  <!--<div class="user-header">-->
  <!--<div class="username">{{ message.sender.username }}</div>-->
  <!--<div [ngSwitch]="message.userStatus">-->
  <!--<template [ngSwitchCase]="1">-->
  <!--<md-icon class="status-icon status-ok">check_circle</md-icon>-->
  <!--</template>-->
  <!--<template [ngSwitchCase]="2">-->
  <!--<md-icon class="status-icon status-help">error</md-icon>-->
  <!--</template>-->
  <!--<template [ngSwitchCase]="3">-->
  <!--<md-icon class="status-icon status-emergency">add_circle</md-icon>-->
  <!--</template>-->
  <!--</div>-->
  <!--<md-icon class="online-icon"-->
  <!--*ngIf="message.sender.online">language</md-icon>-->
  <!--</div>-->
  <!--<div class="status-information"-->
  <!--*ngIf="message.userStatusInformation !== null && message.userStatusInformation.length !== 0">-->
  <!--{{ message.userStatusInformation }}-->
  <!--</div>-->
  <!--<div class="message-date">{{ chatService.formatDate(message.date) }}</div>-->
  <!--<div class="message-content">{{ message.content }}</div>-->
  <!--</div>-->
  <!--</md-card>-->
  <!--</div>-->

  <!--<div class="status-filter">-->
  <!--<md-card class="status-option status-ok"-->
  <!--[class.selected] = "searchUsersService.selectedStatus === 1"-->
  <!--(click)="searchUsersService.statusOKSelected()">-->
  <!--<md-icon class="status-icon">check_circle</md-icon>-->
  <!--</md-card>-->
  <!--<md-card class="status-option status-help"-->
  <!--[class.selected] = "searchUsersService.selectedStatus === 2"-->
  <!--(click)="searchUsersService.statusHelpSelected()">-->
  <!--<md-icon class="status-icon">error</md-icon>-->
  <!--</md-card>-->
  <!--<md-card class="status-option status-emergency"-->
  <!--[class.selected] = "searchUsersService.selectedStatus === 3"-->
  <!--(click)="searchUsersService.statusEmergencySelected()">-->
  <!--<md-icon class="status-icon">add_circle</md-icon>-->
  <!--</md-card>-->
  <!--<md-card class="status-option clear-status"-->
  <!--[class.selected] = "searchUsersService.selectedStatus === 0"-->
  <!--(click)="searchUsersService.clearStatusSelection()">-->
  <!--<md-icon class="status-icon">cancel</md-icon>-->
  <!--</md-card>-->
  <!--</div>-->

  <!--<div class="user" *ngFor="let user of searchUsersService.filteredUsers" routerLink="/chat/{{ user.userId }}">-->
  <!--<img class="avatar" src="{{ userService.getAvatarUrl(user.username) }}" />-->
  <!--<div class="user-info">-->
  <!--<div class="user-header">-->
  <!--<div class="username">{{ user.username }}</div>-->
  <!--<div [ngSwitch]="user.status">-->
  <!--<template [ngSwitchCase]="1">-->
  <!--<md-icon class="status-icon status-ok">check_circle</md-icon>-->
  <!--</template>-->
  <!--<template [ngSwitchCase]="2">-->
  <!--<md-icon class="status-icon status-help">error</md-icon>-->
  <!--</template>-->
  <!--<template [ngSwitchCase]="3">-->
  <!--<md-icon class="status-icon status-emergency">add_circle</md-icon>-->
  <!--</template>-->
  <!--</div>-->
  <!--<md-icon class="online-icon"-->
  <!--*ngIf="user.online">language</md-icon>-->
  <!--</div>-->
  <!--<div class="empty-status-information"-->
  <!--*ngIf="user.statusInformation === null || user.statusInformation.length === 0">-->
  <!--No status information-->
  <!--</div>-->
  <!--<div class="status-information"-->
  <!--*ngIf="user.statusInformation !== null && user.statusInformation.length !== 0">-->
  <!--{{ user.statusInformation }}-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
