<div class="user" *ngFor="let user of users">
  <img class="avatar" src="{{ userService.getAvatarUrl(user.username) }}" />
  <div class="user-info">
    <span class="username">{{ user.username }}</span>
    <span>status: {{ user.userStatusString() }}</span>
    <span>{{ user.online ? 'online' : 'offline' }}</span>

    <!--<span class="user-status user-status-ok">-->
      <!--<md-icon class="user-status-icon">check_circle</md-icon>-->
      <!--<span class="user-status-text">OK</span>-->
    <!--</span>-->
    <!--<span class="user-status user-status-help">-->
      <!--<md-icon class="user-status-icon">error</md-icon>-->
      <!--<span class="user-status-text">Help</span>-->
    <!--</span>-->
    <!--<span class="user-status user-status-emergency">-->
      <!--<md-icon class="user-status-icon">add_circle</md-icon>-->
      <!--<span class="user-status-text">Emergency</span>-->
    <!--</span>-->
  </div>
</div>
