:host {
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  height: calc(100vh - 60px);
  overflow: scroll;
}

:host>* {
  min-height: min-content;
}

.user {
  display: flex;
  padding: 10px 0;
}

.user+.user {
  border-top: 1px solid #d9d9d9;
}

.avatar {
  width: 36px;
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.user-header {
  display: flex;
  height: 20px;
}

.username {
  font-weight: bold;
}

.status-icon {
  margin-left: 5px;
  width: 20px;
  font-size: 1.2em;
}

.status-ok {
  color: #51b53f;
}

.status-help {
  color: #b5a33f;
}

.status-emergency {
  color: #b53f51;
}

.online-icon {
  margin-left: 5px;
  width: 20px;
  font-size: 1.2em;
  color: #51b53f;
}

.empty-status-information {
  font-style: italic;
  color: #666;
}

.status-information {

}

/*////*/

.user-status {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 2px 4px;
}

.user-status-icon {
  height: auto;
  width: auto;
  font-size: 1em;
}

.user-status-text {
  margin-left: 2px;
  font-size: 0.8em;
}

