<div class="user" *ngFor="let user of users" routerLink="/chat/{{ user.userId }}">
  <img class="avatar" src="{{ userService.getAvatarUrl(user.username) }}" />
  <div class="user-info">
    <div class="user-header">
      <div class="username">{{ user.username }}</div>
      <div [ngSwitch]="user.status">
        <template [ngSwitchCase]="1">
          <md-icon class="status-icon status-ok">check_circle</md-icon>
        </template>
        <template [ngSwitchCase]="2">
          <md-icon class="status-icon status-help">error</md-icon>
        </template>
        <template [ngSwitchCase]="3">
          <md-icon class="status-icon status-emergency">add_circle</md-icon>
        </template>
      </div>
      <md-icon class="online-icon"
               *ngIf="user.online">language</md-icon>
    </div>
    <div class="empty-status-information"
         *ngIf="user.statusInformation === null || user.statusInformation.length === 0">
      No status information
    </div>
    <div class="status-information"
         *ngIf="user.statusInformation !== null && user.statusInformation.length !== 0">
      {{ user.statusInformation }}
    </div>
  </div>
</div>
