<md-input-container class="search-bar">
  <input mdInput placeholder="Search"
         [(ngModel)]="searchUsersService.searchTerm"
         (ngModelChange)="searchUsersService.updateSearch()">
</md-input-container>

<div class="status-filter">
  <md-card class="status-option status-ok"
           [class.selected] = "searchUsersService.selectedStatus === 1"
           (click)="searchUsersService.statusOKSelected()">
    <md-icon class="status-icon">check_circle</md-icon>
  </md-card>
  <md-card class="status-option status-help"
           [class.selected] = "searchUsersService.selectedStatus === 2"
           (click)="searchUsersService.statusHelpSelected()">
    <md-icon class="status-icon">error</md-icon>
  </md-card>
  <md-card class="status-option status-emergency"
           [class.selected] = "searchUsersService.selectedStatus === 3"
           (click)="searchUsersService.statusEmergencySelected()">
    <md-icon class="status-icon">add_circle</md-icon>
  </md-card>
  <md-card class="status-option clear-status"
           [class.selected] = "searchUsersService.selectedStatus === 0"
           (click)="searchUsersService.clearStatusSelection()">
    <md-icon class="status-icon">cancel</md-icon>
  </md-card>
</div>

<div class="user" *ngFor="let user of searchUsersService.filteredUsers" routerLink="/chat/{{ user.userId }}">
  <img class="avatar" src="{{ userService.getAvatarUrl(user.username) }}" />
  <div class="user-info">
    <div class="user-header">
      <div class="username">{{ user.username }}</div>
      <div [ngSwitch]="user.status">
        <template [ngSwitchCase]="1">
          <md-icon class="status-icon status-ok">check_circle</md-icon>
        </template>
        <template [ngSwitchCase]="2">
          <md-icon class="status-icon status-help">error</md-icon>
        </template>
        <template [ngSwitchCase]="3">
          <md-icon class="status-icon status-emergency">add_circle</md-icon>
        </template>
      </div>
      <md-icon class="online-icon"
               *ngIf="user.online">language</md-icon>
      <md-icon class="email-icon" routerLink="/email/{{ user.userId }}">email</md-icon>
      <md-icon class="admin-icon" routerLink="/admin/{{ user.userId }}">settings</md-icon>
    </div>
    <div class="empty-status-information"
         *ngIf="user.statusInformation === null || user.statusInformation.length === 0">
      No status information
    </div>
    <div class="status-information"
         *ngIf="user.statusInformation !== null && user.statusInformation.length !== 0">
      {{ user.statusInformation }}
    </div>
  </div>
  <!-- <button md-raised-button class="email-button"  id="directory-send-email-button"><md-icon>email</md-icon></button> -->
</div>
